/* UN-BUTTON */

/* independent of theme */

button {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    border: none;
}
button:active {
    transition-property: background-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
}

/* theme='manu-1' */

un-button-light[theme='manu-1']
button {
	background-color: white;
  color: black;
	font-size: medium;
  /*! font-weight: bold; */
}
un-button-light[theme='manu-1']
button:hover {
  background-color: lightblue;
  /*! color: #000; */
}
un-button-light[theme='manu-1']
button:active {
	background-color: lightgrey;
}

/* theme='vaadin-1' */

un-button-light[theme='vaadin-1']
button {
	background-color: #006af5;
  color: white;
	font-size: medium;
  font-weight: bold;
}
un-button-light[theme='vaadin-1']
button:hover {
  background-color: #0064e7;
  color: #f1f1f1;
}
un-button-light[theme='vaadin-1']
button:active {
	background-color: #006af5b3;
}
un-button-light[theme='vaadin-1']
button:focus {
  outline: 2px solid #006af5ab;
  outline-offset: 1px;
}

/* theme='vaadin-2' */

un-button-light[theme='vaadin-2']
button {
	font-size: medium;
	background-color: #e7e7e7;
	color: #005fdb;
}
un-button-light[theme='vaadin-2']
button:hover {
  background-color: #e3e3e3;
}
un-button-light[theme='vaadin-2']
button:active {
    background-color: #006af526;
}
un-button-light[theme='vaadin-2']
button:focus {
  outline: 2px solid #006af5ab;
  outline-offset: 1px;
}

/* theme='vaadin-3' */

un-button-light[theme='vaadin-3'] 
button {
  font-size: small;
  background-color: #fff0;
  color: #005fdb;
}
un-button-light[theme='vaadin-3']
button:hover {
  background-color: #e3e3e342;
}
un-button-light[theme='vaadin-3']
button:active {
  background-color: #006af526;
}
un-button-light[theme='vaadin-3']
button:focus {
  outline: 2px solid #006af5ab;
  outline-offset: 1px;
}