:host {
	--size-category: clamp(100px, 15vw, 100%);
	/*! width: 100%; */
	display: flex;
	flex-direction: column;
	row-gap: 5vh;
	font-family: sans;
	margin-left: 5vw;
	margin-right: 5vw;
}
nav {
	display: flex;
	flex-flow: row nowrap;
	column-gap: 10vw;
}
#categories {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	column-gap: 10vw;
	flex: 75%;
}
.category {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--color-font);
	cursor: pointer;
	width: 30%;
	background-color: transparent;
	border: none;
	height: 40vh;
}
.category__img {
	width: var(--size-category);
	height: var(--size-category);
	object-fit: cover;
	outline: 1px solid black;
	margin-bottom: 15px;
	border-radius: 55px;
	pointer-events: none;
}
.category:active img {
	outline: 3px solid black;
}
.category--selected img {
	filter: brightness(50%);
}
.category__name {
	color: var(--link-text-color);
}
.category__name:hover {
	text-decoration: underline solid var(--link-text-color);
}
#sidebar {
	flex: 1 1 25%;
	display: flex;
	flex-flow: column nowrap;
	row-gap: 2vh;
}
#sidebar-searchfields {
	flex-flow: column nowrap;
	row-gap: 0px;
	display: flex;
	/*! width: min-content; */
}
#sidebar-searchfields div {
	/*! margin-bottom: 15px; */
	display: flex;
	flex-direction: column;
}
#sidebar-categories {
	display: flex;
	flex-flow: column nowrap;
}
#products {
  	display: flex;
	column-gap: 5vw;
	width: 80%;
  	flex-direction: row;
  	flex-wrap: wrap;
  	justify-content: flex-start;
}
.product-info {
	margin-left: 0;
}
.product-name {
	font-size: larger;
	font-family: var(--link-font-family);
	color: var(--font-color-light);
	text-transform: uppercase;
	margin-bottom: 1vh;
	display: block;
}
.product-category {
	display: block;
	font-size: small;
	color: var(--link-text-color);
	margin-bottom: 2vh;
}
.product-price {
	display: block;
}

/* MEDIA QUERIES */

@media (width < 1000px) {
	nav {
	 	flex-flow: column-reverse nowrap;
	 	row-gap: 5vh;
	}
	#sidebar-categories {
	 	flex-flow: row nowrap;
		justify-content: flex-start;
		column-gap: 2vw;
	}
	#sidebar-searchfields {
	 flex-flow: row nowrap;
		column-gap: 5vw;
	 justify-content: flex-start;
	}
}