:host {
	--size-category: clamp(100px, 15vw, 100%);
	/*! width: 100%; */
	display: flex;
	flex-direction: column;
	row-gap: 5vh;
	margin-left: 5vw;
	margin-right: 5vw;
}
button {
	font-family: inherit;
	padding: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
a {
	color: var(--link-text-color);
	text-decoration: var(--link-text-decoration);
}
a:hover {
	color: var(--link-text-color);
	text-decoration: underline solid var(--link-text-color);
}

nav {
	display: flex;
	flex-flow: row nowrap;
	column-gap: 10vw;
}

#categories {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	column-gap: 10vw;
	flex: 75%;
}
.category {
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	width: 30%;
	background-color: transparent;
	border: none;
	height: 40vh;
	font-family: var(--font-family-link);
}
.category__img {
	width: var(--size-category);
	height: var(--size-category);
	object-fit: cover;
	outline: 1px solid black;
	margin-bottom: 15px;
	border-radius: 55px;
	pointer-events: none;
}
.category:active img {
	outline: 3px solid black;
}
.category--selected img {
	filter: brightness(50%);
}
.category__name {
	color: var(--link-text-color);
}
.category__name:hover {
	text-decoration: underline solid var(--link-text-color);
}

#sidebar {
	flex: 1 1 25%;
	display: flex;
	flex-flow: column nowrap;
	row-gap: 2vh;
}
#sidebar-searchfields {
	flex-flow: column nowrap;
	row-gap: 0px;
	display: flex;
	/*! width: min-content; */
}
#sidebar-searchfields div {
	/*! margin-bottom: 15px; */
	display: flex;
	flex-direction: column;
}
#sidebar-categories {
	display: flex;
	flex-flow: column nowrap;
}

#products {
	display: flex;
	column-gap: 5vw;
	width: 80%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.product__info {
	margin-left: 0;
}
.product__name {
	color: var(--font-color-light);
	font-size: larger;
	text-transform: uppercase;
	margin-bottom: 0.5vh;
	display: block;
}
.product__name:hover {
	text-decoration: underline solid var(--link-text-color);
}
.product__category {
	display: block;
	font-size: small;
	text-transform: uppercase;
	color: var(--link-text-color);
	margin-bottom: 2vh;
}
.product__category:hover {
	text-decoration: underline solid var(--link-text-color);
}
.product__price {
	display: block;
	font-size: large;
}

/* MEDIA QUERIES */

@media (width < 1000px) {
	nav {
		flex-flow: column-reverse nowrap;
		row-gap: 5vh;
	}

	#sidebar-categories {
		flex-flow: row nowrap;
		justify-content: flex-start;
		column-gap: 2vw;
	}

	#sidebar-searchfields {
		flex-flow: row nowrap;
		column-gap: 5vw;
		justify-content: flex-start;
	}
}